* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-content {
    --offset: 0;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    height: 100%;

    transform: translateX(var(--offset));
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 194px;
    font-weight: bold;
    color: white;
    flex: none;
    width: 100%;
    height: 100%;
}

.slide:nth-child(1) {
    background-color: #5d5b6a;
}

.slide:nth-child(2) {
    background-color: #758184;
}

.slide:nth-child(3) {
    background-color: #cfb495;
}

.slide:nth-child(4) {
    background-color: #f5cdaa;
}

.slide:nth-child(5) {
    background-color: #5d5b6a;
}

.slide:nth-child(6) {
    background-color: #758184;
}

.slide:nth-child(7) {
    background-color: #cfb495;
}

.slide:nth-child(8) {
    background-color: #f5cdaa;
}

.slide:nth-child(9) {
    background-color: #5d5b6a;
}

.slide:nth-child(10) {
    background-color: #758184;
}

.slide:nth-child(11) {
    background-color: #cfb495;
}

.slide:nth-child(12) {
    background-color: #f5cdaa;
}

.slide:nth-child(13) {
    background-color: #5d5b6a;
}

.slide:nth-child(14) {
    background-color: #758184;
}

.slide:nth-child(15) {
    background-color: #cfb495;
}

.slide:nth-child(16) {
    background-color: #f5cdaa;
}

.slide:nth-child(17) {
    background-color: #5d5b6a;
}

.slide:nth-child(18) {
    background-color: #758184;
}

.slide:nth-child(19) {
    background-color: #cfb495;
}

.slide:nth-child(20) {
    background-color: #f5cdaa;
}